
/* OTHER PAGES ***********************************************/

/* PAGE GLOBAL --------------*/

/* pages */

/*body.page-id-26 #main,
body.page-id-28 #main,
body.page-id-30 #main,
body.page-id-32 #main {
	background: url('../images/pages-top-edge.jpg') center top no-repeat;
}
*/
/*body.page-id-26 #main .entry-content .wrap,
body.page-id-28 #main .entry-content .wrap,
body.page-id-30 #main .entry-content .wrap,
body.page-id-32 #main .entry-content .wrap {
	padding-left: 0;
	padding-top: 0;
}
*/


/* OUR STORY PAGE */

/*
body.page-id-28 .footer #bottom-edge {
	position: relative;
	top: 0;
	margin-top: -220px;
}*/



/*
section#story-2 h2 {
	margin-left: 450px;
	font-size: 130px;
}

section#story-2 div.col1 {
	width: 470px;
}

section#story-2 div.col1 {
	margin-right: 2%;
}

section#story-2 div.col1 div {
	width: 450px;
	margin-bottom: 130px;
}


img.wp-image-60 {
	margin-left: -25px;
	margin-bottom: 0px;
	margin-top: -25px;
	padding: 0;
	width: 450px;
}
*/




/* store locator */


/* contact */





/* footer */

/* nav */

body.page nav {
	margin-left: 218px;
}


body.home nav {
	margin-left: 152px;
}

/*
body.page nav {
	margin-left: 218px;
}
*/

/*
body.page nav ul li {
	margin: 0 8px !important;
}
*/


/* products tweaks */

#baconlink {
	display: none;
}

#kestins-korner {
	display: none;
}


body.home #baconlink {
	display: block;
	position: absolute;
	right: 0;
	margin-top: 57px;
}

body.home #kestins-korner {
	display: block;
	position: absolute;
	right: 0;
	margin-top: 198px;
}

body.page-id-511 #container,
body.archive.category #container {
	background: none;
}

body.page-id-511 #content,
body.archive.category #content {
	text-align: center;
}

body.page-id-511 .header,
body.archive.category .header {
	min-height: 90px;
}

body.page-id-511 h2 {
	font-size: 55px;
}

body.page-id-28 #content a,
body.page-id-28 #content a:link,
body.page-id-28 #content a:visited {
	text-decoration: none;
}


div.jetpack_subscription_widget h2 {
	display: none;
}

div.jetpack_subscription_widget form>p:first-of-type {
	display: none;
}

div.jetpack_subscription_widget input#subscribe-field {
	width: auto !important;
	padding: 8px !important;
}

/* home */

a#nws {
	position: absolute;
	margin-left: 586px;
	padding-top: 16px;
}

.home-get-it-block .fill {
	min-height: 795px;
}

.entry-content.home-get-it-block {
	margin-top: -26px !important;
}

/* products */

#product-info p {
	height: auto;
	margin: 0;
	padding: 0;
	min-height: auto;
	max-height: auto;
}

#product-info a {
	color: #333;
	font-weight: bold;
}

/* footer */

#footer-content .address {
	padding-top: 16px;
}

/* distro list */

body.page-id-329 .table-wrap {
	clear: both;
}

/* contact us email address fix */

/*
div#container {
	position: relative;
	z-index: 9999;
}
*/

a#close {
	height: 500px;
	width: 300px;
	overflow: hidden;
	display: block;
	text-indent: -1000px;
	border: 0px dotted #ccc;
	position: absolute;
	margin-left: 500px;
	margin-top: -266px;
	cursor: pointer;
}

/* wp stats */

#wpstats {
	position: absolute;
	height: 0;
	width: 0;
	overflow: hidden;
}

/* hide ingredients */

.home-secrets-block figure a {
	/* background-image: url(/wp-content/themes/hemplers-2013/library/images/sandwich-good.jpg); */
	background-image: url(/wp-content/themes/hemplers-2013/library/images/family-vid.jpeg);
}

/* kestin's korner */

body.page-id-511 h1 {
	font-family: 'rye';
	font-size: 100px;
	text-align: center;
	margin-bottom: 30px;
}

body.page-id-511 header.header {
	min-height: 100px;
}

/*body.page-id-511 section div.fill {
	margin-bottom: 200px;
}*/

body.page-id-511 div#container {
	background-image: none;
}

body.page-id-511 p.intro {
	font-size: 16px;
}

body.page-id-511 div#posts div.left img {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

body.page-id-511 div#posts div.right img {
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}

body.page-id-511 .excerpt-dash {
	display: none;
}

body.page-id-511 div.listing-item {
	margin-top: 80px;
	
}

body.page-id-511 div.listing-item h3 {
	margin-bottom: 5px;
	font-size: 35px;
}

body.page-id-511 div.listing-item {
	font-size: 17px;
	clear: both;
}

body.page-id-511 div.listing-item span.blog-tape {
	display: block;
	position: absolute;

}

body.page-id-511 div#posts div.right span.blog-tape {
	background: url(/wp-content/themes/hemplers-2013/library/images/tape-right.png) no-repeat;
	margin-left: 766px;
	margin-top: -31px;
	height: 57px;
	width: 142px;
}

body.page-id-511 div#posts div.left span.blog-tape {
	background: url(/wp-content/themes/hemplers-2013/library/images/tape-left.png) no-repeat;
	margin-left: -29px;
	margin-top: -42px;
	height: 109px;
	width: 139px;
}

/*
body.page-id-511 div.frame-wrap {
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(51, 51, 51, .6);
	z-index: 9999;
	
}

body.page-id-511 div.frame-wrap.show {
	display: block;
}

body.page-id-511 div.frame {
	display: none;
	border: 3px solid #666;
	width: 700px;
	height: 500px;
	background: #fff;
	overflow: auto;
	padding: 30px;
	z-index: 99999;
	top: 15%;
	left: 15%;
	position: absolute;
	/* margin: auto; */
	/*border-radius: 10px;
}
*/

div.blog-post div.frame h3 {
	color: #666;
}

body.page-id-511 div.frame.show {
	display: block;
}

/* post */

iframe {
	width: 900px;
	height: 600px;
}

body.page-id-511 div#colorbox {
	width: 900px;
	height: 600px;
	overflow: auto;
	background: #fff;
}

div#colorbox div#cboxLoadedContent {
	max-height: 600px !important;
	overflow: auto;
}

div#colorbox div#inner-content  {
	background: #fff;
	padding: 40px;
	font-size: 18px;
}

div#colorbox .eightcol  {
	width: 100%;
}

div#colorbox p.byline  {
	display: none;
}

div#colorbox .hentry {
	background: none;
}

div#colorbox h1 {
	font-size: 40px;
	color: #333;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

div#colorbox section.entry-content {
	font-size: 18px;
}

div#cboxTitle {
	display: none;
}

.entry-content .alignleft, .entry-content img.alignleft,
.entry-content .alignright, .entry-content img.alignright {
	margin-bottom: 20px;
}


/* page */

/*body.page-id-511 section div.fill {
	background: url(/wp-content/themes/hemplers-2013/library/images/snake.png) center top repeat-y;
}*/

/*body.page-id-511 div#meteor-slideshow {
	height: 340px;
	width: 416px;
	background: url('../images/home-video-frame.png') no-repeat;
	z-index: 2;
	padding: 27px 33px;
	overflow: hidden;
	float: right;
	margin-left: 30px;
}

body.page-id-511 div#subscribe {
	font-size: 17px;
	color: #333;
	margin-top: 90px;
}

body.page-id-511 div#subscribe label {
	display: none;
}
*/
article.post a,
article.post a:visited,
article.post a:link {
	color: #53380C;
}

h3#comments {
	color: #333;
}

div.comment-meta a {
	font-size: 12px;
	color: #666;
	text-decoration: none;
	font-style: italic;
}

div.comment-body {
	font-size: 14px;
	color: #666;
	margin: 
}

article.post cite a.url {
	text-decoration: none;
	font-weight: bold;
}

article.post a.comment-reply-link {
	background: #333;
	color: #fff;
	border-radius: 4px;
	padding: 5px;
	text-decoration: none;
	font-size: 12px;
	
	display: none;
}

article.post a.comment-reply-link:hover {
	background: #666;
}

li.comment {
	border: 1px dashed #333;
	padding: 15px;
	margin: 20px 0;
}

form#commentform {
	font-size: 12px;
	color: #333;
}

textarea#comment {
	width: 100%;
}

/* social for blog */

#ssba {
	margin-bottom: 40px;
}

a.ssba_tooptip{outline:none;text-decoration:none !important;color:inherit !important;}
a.ssba_tooptip strong{line-height:12px;}
a.ssba_tooptip:hover{text-decoration:none;color:inherit !important;} 
a.ssba_tooptip span{z-index:10;display:none;padding:10px;margin-top:-30px;margin-left:28px;line-height:16px;}
a.ssba_tooptip:hover span{font-family: arial;font-size: 12px;display:inline;position:absolute;color:#555e58;border:1px solid #e0dddd;background:#f5f5f5;}
.callout{z-index:20;position:absolute;top:30px;border:0;left:-12px;}
a.ssba_tooptip span{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;-o-border-radius:4px;}

#ssba img	{ 	
	width: 50px !important;
	padding: 6px;
	border:  0;
	box-shadow: none !important;
	display: inline;
	vertical-align: middle;
}

/* blog kestin korner */
article#post-511.clearfix.post-511.page.type-page.status-publish.hentry {
	background:none;
	margin-top: 0;
}

article#post-511.clearfix.post-511.page.type-page.status-publish.hentry section.entry-content:last-child{
	background:none;

}

body.archive.category div#container div#content div#inner-content div#main section.entry-content:last-child  {
	background: none;
	/*margin-top: 15px;*/
}

body.page.page-id-511 div#container div#content div#inner-content,
body.archive.category div#container div#content div#inner-content {
	/*background: transparent url('../images/wood2.png') center top repeat-y;
	background-size: cover;*/
	background: none;

}

body.page.page-id-511 div#container header.header div#inner-header nav,
body.archive.category div#container header.header div#inner-header nav {
	display: none;
}

body.page.page-id-511 .wptiles.clearfix {
    margin: 0 auto;
    position: inherit;
    /*padding: 150px;*/
    padding-top: 80px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px; 
    max-width: 1440px;    
}

body.archive.category .wptiles_cat.clearfix {
	margin: 0 auto;
    position: inherit;
   /* padding: 150px;*/
    padding-top: 80px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px; 
    max-width: 1440px;
}

div#inner-header {
	float: none;
	/*margin: 0 0 0 15px;*/
	margin: 0 auto;
}

/*  inner-header for Blog page */
body.page.page-id-511 div#inner-header, 
body.single.single-post div#inner-header,
body.archive.category div#inner-header {
	max-width: 1440px;
}
/* end inner-header for Blog page*/


div#inner-header h1#logo {
	margin-left: 45px;
}

div#inner-header #logo a {
    background: url('../images/header-hemplers-logo.png') left top no-repeat;
}

body.page.page-id-511 div#container header.header div#inner-header a#kestins-korner-1 img{
	position: absolute;
    margin-left: 775px;
    width: 325px;
    margin-top: 95px;
}

div.kk-logo {
	background: transparent url('../images/kestins-korner-1.png') center top no-repeat;
	padding-bottom: 100px;
	margin-top: 75px;
	background-size: 2% 30%;
}

div.arrow {
	background: transparent url('../images/arrow-left.png') no-repeat; 
	padding-bottom: 100px;
	margin-top: 75px;
	background-size: 3% 25%;
    margin-left: 10px;
    margin-right: 800px;

}

div.kestin-pic {
	background: transparent url('../images/kestin-pic-21.png') center right no-repeat;
	padding-bottom: 235px;
    margin:0 auto;
    background-size: inherit;
    max-width: 1440px;
    /*margin-left: 1190px;*/
    filter: brightness(45%) contrast(90%);
    -webkit-filter: brightness(45%) contrast(90%);
}

article#post-511 section.entry-content div.fill.clearfix div.descriptions_blog p {
	color: #C9C9C9;
	text-shadow: none;
	font-size: 1.1em;
}

body.archive.category section.entry-content div.fill.clearfix div.descriptions_blog p {
	color: #C9C9C9;
	text-shadow: none;
	font-size: 1.1em;
}
article#post-511 section.entry-content div.fill.clearfix div.wrap {
	width: 100%;
}

.blogcontent {
	background: transparent url('../images/wood2.png') center top repeat-y;
	background-size: contain;
	margin-bottom: 75px;
}

body.archive.category .blogcontent {
	background-size: cover;
}
/* Footer customize */
footer #footer-content {
    margin-left: 65px;
}

.footer {
	/* zoom: 1.37; */
	background: #000 url('../images/flame.png') center bottom no-repeat;
    background-size: 101% 65%;
    margin-bottom: -125px;
    height: 500px;
    margin-top: 50px;

}

#footer-content .address {
        /* margin-right: 55px; */
    margin-top: 85px;
    /* clear: both; */
    position: absolute;
}

#footer-content .email, #footer-content #footer-links{
    border: none;
}

#footer-content .address p {
	text-align: center;
	position: absolute;
	color: #60574C;
	right: 67px;
}

#footer-content #footer-logo img {
	margin-left: -90px;
    width: 210px;
}

#footer-content #footer-logo {
	border-right: 2px dotted #93714e;
}

div#footer-links {
    margin-left: 30px;
    margin-right: 30px;
    min-height: 165px;
}

div#footer-links ul {
    /*margin-right: 10px;*/
    font-weight: normal;
}

/* Custom social Icons Footer */
#footer-content #ssba {
    clear: both;
    width: 400px;
    /* padding-left: 415px; */
    position: relative;
    margin: 0 auto;
    margin-top: -110px;
    margin-left: 475px; 	
}

#footer-content #ssba a.ssba_tooptip{outline:none;text-decoration:none !important;color:inherit !important;}
#footer-content #ssba a.ssba_tooptip strong{line-height:12px;}
#footer-content #ssba a.ssba_tooptip:hover{text-decoration:none;color:inherit !important;} 
#footer-content #ssba a.ssba_tooptip span{z-index:10;display:none;padding:10px;margin-top:-30px;margin-left:28px;line-height:16px;}
#footer-content #ssba a.ssba_tooptip:hover span{font-family: arial;font-size: 12px;display:inline;position:absolute;color:#555e58;border:1px solid #e0dddd;background:#f5f5f5;}
#footer-content #ssba .callout{z-index:20;position:absolute;top:30px;border:0;left:-12px;}
#footer-content #ssba a.ssba_tooptip span{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;-o-border-radius:4px;}

#footer-content #ssba img	{ 	
	width: 50px !important;
	padding: 6px;
	border:  0;
	box-shadow: none !important;
	display: inline;
	vertical-align: middle;
}
/* End Custom social Icons Footer*/

/* End Footer Customize */

/* custom wp tiles */
div.wp-tiles-loaded .wp-tiles-tile-bg {
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
}

/*h4.wp-tiles-byline-title {
	font-size: 0.8em;
}*/

div.wp-tiles-byline-wrapper {
	height: auto;
	cursor: url('../images/cursor.png'),url('../images/cursor.png'),auto;
	/*margin-top: 15px;*/
	padding: 0px;
}

/*div.wp-tiles-tile {
	box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.28);
}*/

/* hide article */
.hide {
  display: none;
}

a.read-more-show {
	text-decoration: none;
	color: #4F82CE;
	text-shadow: none;
}

a.read-more-hide {
	text-decoration: none;
	color: #4F82CE;
	text-shadow: none;
}

/* css div custom */
.wrap_blog.clearfix {
    margin-top: -300px;
}

.descriptions_blog {
    padding-left: 290px;
    padding-right: 290px;
    z-index: 99;
    position: relative;
    margin: 0 auto;
    margin-top: -140px;
    max-width: 1440px;
}
/* end css div custom */

/* Custom CSS single.php */
body.single.single-post div#container div.content.blog-post div#inner-content div#main.eightcol {
	margin-top:45px;
	margin-bottom:45px;
}

body.single.single-post footer.article-footer p.tags a {
	text-decoration: underline;
}

body.single.single-post h3 {
    color: black;
    font-size: larger;
}
/* End Custom CSS single.php*/

/* Custom Nave Menu Blog */
div#blog_selector {
	font-family: 'Germania One', 'Times New Roman', serif;
	text-align: center;
	background-color: rgba(142, 141, 136, 0.33);
	padding: 15px;
	margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 99;
    max-width: 1440px;
}

div#blog_selector ul li a {
	text-decoration: none;
	width: 100%;
	color: #FFE1BA;
	text-transform: uppercase;
	padding: 15px;
}

div#blog_selector ul li a:hover,
div#blog_selector ul li a.active {
	color:white;
}

div#blog_selector ul li {
	display: inline;
	border-right: 2px solid #FFE1BA;

}

div#blog_selector ul li:last-child {

	border-right: none;

}

div#blog_selector ul
{
	list-style-type: none;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
    font-size: 19px;
}
/* End Custom Nav Menu Blog*/

/* Custom Home */
.header #tagline {
	min-height: 335px; 
    /* margin: 0 auto; */
    z-index: 99;
    line-height: 89px;
    /* top: 295px; */
    /* top: -600px; */
    /* left: 485px; */
    /* bottom: 450px; */
    margin: 380px 0 0 200px;
    position: absolute;
}

#sausage-1,#sausage-2 {
	/*left:100%;*/
	margin-top: -50px;
}

body.home div#container {
	background: #000 url('../images/ham.jpg') center top no-repeat;
}

body.home div#container header.header div#sausage-1,
body.home div#container header.header div#sausage-2 {
	display: none;
}
body.home.page div#vid-wrap {
	display: block;
}

/*body.home.page div#container div#content div#inner-content {
	margin-top: 285px;
}*/

body.home.page div#content {
	margin-top: 0px;
} 

body.home .header #tag-arrow {
	display: none;
}

body.home .header #logo a {
	position: absolute;
	z-index: 100;
}

body.home nav {
    display: block;
    margin: 0 auto; 

}

body.page nav {
     margin-left: inherit;
     background-color: rgba(0, 0, 0, 0.42);
}

body.home.page nav {
	background-color: rgba(12, 12, 12, 0.7);
}

ul#menu-the-menu {
    display: table;
    float: none;
    margin: 0 auto;
    padding: 10px;
    height: 70px;
}

ul#menu-the-menu a {
	color: white;
	
}

ul#menu-the-menu a:hover,
ul.nav li.current_page_item a {
	color: #BF2010 !important;
	
}

#inner-header nav {
    position: fixed;
    z-index: 99;
    right: 0px
}

body.home div#container header.header div#inner-header div.arrow, 
body.page div#container header.header div#inner-header div.arrow {
	display: none;
}

body.page.page-id-511 .wrap_blog.clearfix,
body.archive.category .wrap_blog.clearfix {
    margin-top: -195px;
}

body.page.page-id-511 div#container header.header div#inner-header div.arrow,
body.archive.category div#container header.header div#inner-header div.arrow {
	display: inherit;
	position: inherit;
    z-index: 103;
    bottom: 30px;
}

#container {
	background-size: cover;
}

div.logo-kestins-korner-1 {
	background: transparent url('../images/kestins-korner-3.png') right top no-repeat;
	background-size: 70%;
	margin: 0 auto;
	z-index: 101;
	padding: 100px;
    position: fixed;
    width: 10%;
    right: 0px;
    top: 15px;
    margin-right: 55px;
}
div.arrow-right {
	background: transparent url('../images/arrow-right.png') right top no-repeat;
    background-size: 5%;
    margin: 0 auto;
    z-index: 102;
    padding: 50px;
    position: fixed;
    width: 25%;
    right: 0px;
    top: 19px;
    margin-right: 27px;
}

body.page.page-id-511 div.logo-kestins-korner-1, body.page.page-id-511 div.arrow-right,
body.archive.category div.logo-kestins-korner-1, body.archive.category div.arrow-right {
	display: none;
}

body.home.page div#inner-header h1#logo, 
body.page div#inner-header h1#logo,
body.archive.category div#inner-header h1#logo {
	position: fixed;
	z-index: 102;
	margin: 0 auto;
    left: 20px;
    margin-top: -10px;
}

body.page.page-id-511 div#inner-header h1#logo,
body.archive.category div#inner-header h1#logo {
    position: absolute;
    margin-left: 20px;

}

body.home.page .header #logo,
body.page .header #logo,
body.archive .header #logo {
	width: 280px;
}

body.page.page-id-511 .header #logo,
body.archive .header #logo {
	width: 180px;
}

body.page.page-id-511 div#inner-header #logo a,
body.archive div#inner-header #logo a,
body.archive.category div#inner-header #logo a {
	background-size: 50%;

}

body.page.page-id-511 div#inner-header #logo,
body.archive div#inner-header #logo,
body.archive.category div#inner-header h1#logo {
	margin-top: 0px;
	
}

body.home.page div#container header.header a#baconlink, body.home.page div#container header.header a#kestins-korner {
	display: none;
}
/* End Custom Home*/

/* Custom css single.php */
body.single.single-post div.arrow-right,
body.single.single-post div.arrow,
body.single.single-post div.logo-kestins-korner-1,
body.single.single-post h1#logo,
body.single.single-post nav {

	display: none;
}

body.single.single-post div#container {
	background: none;
}

body.single.single-post div#inner-header {
	margin: 0 auto;
	max-width: 1300px;
	position: inherit;
}

body.single.single-post iv#cboxLoadedContent {
	max-height: 600px !important;
	overflow: auto;
}

body.single.single-post div#inner-content  {
	background: #fff;
	padding: 40px;
	font-size: 18px;
	/*zoom: 1.4;*/
	margin-bottom: 75px;
	max-width: 1440px;
}

body.single.single-post .eightcol  {
	width: 100%;
	padding: 40px;
}

body.single.single-post p.byline  {
	display: none;
}

body.single.single-post .hentry {
	background: none;
}

body.single.single-post h1 {
	font-size: 40px;
	color: #5B3500;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

body.single.single-post h1 {
	    /* font-family: "rye"; */
    text-align: center;
    /* text-transform: uppercase; */
}

body.single.single-post h3 {
	font-family: "Germania One";
}

body.single.single-post section.entry-content {
	font-size: 18px;
}

body.single.single-post div#cboxTitle {
	display: none;
}

body.single.single-post .alignleft, img.alignleft,
body.single.single-post .alignright, img.alignright {
	margin-bottom: 20px;
}

body.single.single-post .alignleft, img.alignleft {
	float: left;
	padding-right: 20px;
}

body.single.single-post .alignright, img.alignright {
	float: right;
	padding-left: 20px;
}


body.page-id-511 div#subscribe {
	font-size: 17px;
	color: #333;
	margin-top: 90px;
}

body.page-id-511 div#subscribe label {
	display: none;
}

body.single.single-post article.post {
	font-family: arial;
	padding: 25px;
}

body.single.single-post article.post a,
body.single.single-post article.post a:visited,
body.single.single-post article.post a:link {
	color: #53380C;
}

body.single.single-post h3#comments {
	color: #333;
}

body.single.single-post div.comment-meta a {
	font-size: 12px;
	color: #666;
	text-decoration: none;
	font-style: italic;
}

body.single.single-post div.comment-body {
	font-size: 14px;
	color: #666;
	margin: 
}

body.single.single-post article.post cite a.url {
	text-decoration: none;
	font-weight: bold;
}

body.single.single-post article.post a.comment-reply-link {
	background: #333;
	color: #fff;
	border-radius: 4px;
	padding: 5px;
	text-decoration: none;
	font-size: 12px;
	
	display: none;
}

body.single.single-post article.post a.comment-reply-link:hover {
	background: #666;
}

body.single.single-post ol {
	margin: 0;
	padding: 0;
}

body.single.single-post li.comment {
	border: 1px dashed #333;
	padding: 15px;
	margin: 20px 0;
	list-style: none;
}

body.single.single-post form#commentform {
	font-size: 12px;
	color: #333;
}

body.single.single-post textarea#comment {
	width: 100%;
}

/* social for blog */

body.single.single-post #ssba {
	margin-bottom: 40px;
}

body.single.single-post a.ssba_tooptip{outline:none;text-decoration:none !important;color:inherit !important;}
body.single.single-post a.ssba_tooptip strong{line-height:12px;}
body.single.single-post a.ssba_tooptip:hover{text-decoration:none;color:inherit !important;} 
body.single.single-post a.ssba_tooptip span{z-index:10;display:none;padding:10px;margin-top:-30px;margin-left:28px;line-height:16px;}
body.single.single-post a.ssba_tooptip:hover span{font-family: arial;font-size: 12px;display:inline;position:absolute;color:#555e58;border:1px solid #e0dddd;background:#f5f5f5;}
body.single.single-post .callout{z-index:20;position:absolute;top:30px;border:0;left:-12px;}
body.single.single-post a.ssba_tooptip span{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;-o-border-radius:4px;}

body.single.single-post #ssba img	{ 	
	width: 50px !important;
	padding: 6px;
	border:  0;
	box-shadow: none !important;
	display: inline;
	vertical-align: middle;
}

body.single.single-post header.header {
	min-height: 150px;
}

body.single.single-post div#content.blog-post {
	background: transparent url('../images/wood2.png') center top repeat-y;
	background-size: contain;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 75px;
}

body.single.single-post div.logo-single-post {
	background-image: url('../images/kestins-korner-12.png');
    background-position: center top;
    background-repeat: no-repeat;
    position: inherit;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: -15px;
    width: 100%;
    padding: 45px;
    /*padding-bottom: 35px;*/
    background-size: inherit;
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
}

.back-from-single {
	display: none;
}

body.single.single-post a.back-from-single {
	display: inherit;
	text-decoration: none;
	font-weight: normal;
    font-size: large;
    /*margin-left: -170px;*/
}

body.single.single-post a.back-from-single p {
	color: #4F82CE;
	font-family: "arial";
}


body.single.single-post section.entry-content p {
	color: #5B3500;
}

body.single.single-post div.tape-single-post {
    background: transparent url('../images/button-tape-1.png') center center no-repeat;
    position: relative;
    background-size: 17%;
    width: 100%;
    padding: 35px;
    z-index: 99;
    top: 35px;
    right: 0px;
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
     opacity: .7;
    transition: opacity .7s ease-out;
    -moz-transition: opacity .7s ease-out;
    -webkit-transition: opacity .7s ease-out;
    -o-transition: opacity .7s ease-out;
}
/* End Custom css single.php*/


/* Custom Category.php */
/*body.archive.category .wrap_blog{
	    margin-top: -275px;
}
*//* End Custom category.php*/

#vid-wrap {
    /* height: 666px; */
    width: 100%;
    overflow: hidden;
    /* position: absolute; */
}

#canvas-wrap {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#video-background {
    height: auto;
    width: 100%;
}

/* css update footer */
.address_new {
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-left: -78px;
    clear: both;
    margin-top: -25px;
    color: #453B30;
    font-weight: bold;
}

#footer-content .address { 
	display:none;
}

#footer-links ul li {
    border-bottom: 2px solid #432300;
}

div#footer-logo {
    min-height: 165px;
}

div#footer-content .phone {
	border-right: none;
	border-left: 2px dotted #93714e;
	min-height: 165px;
}

div#footer-content .phone p {
    position: relative;
    margin: 0 auto;
    margin-right: -40px;
}

#footer-content .email {
    margin-left: 25px;
}

#footer-links ul li a {
    margin-left: 3px;
}

/** WP TILES update Make the font for image tiles smaller **/
.wp-tiles-tile-with-image .wp-tiles-byline-title {
    font-size: 22px;
    /*-webkit-transform: scale(1); 
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);*/
}

/* Update Blog Page 16.12.2015 */
body.page.page-id-511 div#container,
body.archive.category div#container,
body.single.single-post div#container {
    /*max-width: 1600px;*/
    margin: 0 auto;
}

div.descriptions_blog img.aligncenter {
	    margin-bottom: 15px;
}

/* Update footer */
div#inner-footer {
    -webkit-transform: scale(1.14); 
    -moz-transform: scale(1.14);
    -o-transform: scale(1.14);
    transform: scale(1.14);
}

/* geoff update */

.home .header {
	/*height: 1000px;*/
	min-height: 0;
}

.header #tagline {
	bottom: auto;
	top: auto;
	/*margin-top: -600px*/
	position: absolute;
}

#video-background {
    height: 100%;
    width: 100%;
    vertical-align: middle !important;
    position: inherit;
}
/* blog */
div.descriptions_blog h1 {
	display: none;
}
article#post-511 section.entry-content div.fill.clearfix div.descriptions_blog p,
body.archive.category section.entry-content div.fill.clearfix div.descriptions_blog p  {
	font-size: 19px;
}
div.wp-tiles-byline-content {
	display: none;
}

.home .hentry {
    background: transparent url('../images/primary-paper-bg.jpg') center top repeat-x;
}

.home .entry-content:last-child {
    background: transparent url('../images/footer-paper-bg-1.jpg') center bottom repeat-x;
    min-height: 730px;
}

div#chicken {
    position: absolute;
    margin-top: -750px;
    left: 800px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
}

.tag_class {
	width: auto;
	height: auto;
	margin-top: 300px;
	vertical-align: middle;
	text-transform: uppercase;
    text-align: center;
    font-family: 'Germania One', 'Times New Roman', serif;
}

.tag_container {
    position: absolute;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

div.tag_class #tagline {
    color: #f7e0bb;
    font-size: 52px;
    text-shadow: #000 1px 1px 0px;
    text-shadow: rgba(0,0,0,.75) 1px 1px 0px;
}


div.tag_class #tagline em {
    display: block;
    font-family: 'Rye', 'serif';
    font-style: normal;
    font-size: 150px;
    line-height: .7;
    text-shadow: none;
    color: #fff;
}

span.first-desc {
    font-size: 1.1em;
}

body.page div#inner-header h1#logo a
{
	background-size: 80%;
}

/*Fix margin/padding on long text wraps on Kestin's Korner update*/
div.wp-tiles-tile article.wp-tiles-tile-with-image div.wp-tiles-byline-wrapper h4.wp-tiles-byline-title {
    padding: 23.1px;
    font-weight: normal;
    line-height: 22px;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.5);
}

/* Hide Loading */
nav.wp-tiles-pagination-ajax.loading {
    background: none;
}

header.header #logo a {
	width: 348px;
}

@media only screen and (max-width: 1440px) {
    
    body.archive.category .blogcontent {
		background-size: contain;
	}
	
	body.page.page-id-511 .wptiles.clearfix {
		padding-top: 40px;
	}

	body.archive.category .wptiles_cat.clearfix {
		padding-top: 40px;
	}
}