
/* OTHER PAGES ***********************************************/

/* PAGE GLOBAL --------------*/

/* pages */

/*body.page-id-26 #main,
body.page-id-28 #main,
body.page-id-30 #main,
body.page-id-32 #main {
	background: url('../images/pages-top-edge.jpg') center top no-repeat;
}
*/
/*body.page-id-26 #main .entry-content .wrap,
body.page-id-28 #main .entry-content .wrap,
body.page-id-30 #main .entry-content .wrap,
body.page-id-32 #main .entry-content .wrap {
	padding-left: 0;
	padding-top: 0;
}
*/


/* OUR STORY PAGE */

/*
body.page-id-28 .footer #bottom-edge {
	position: relative;
	top: 0;
	margin-top: -220px;
}*/



/*
section#story-2 h2 {
	margin-left: 450px;
	font-size: 130px;
}

section#story-2 div.col1 {
	width: 470px;
}

section#story-2 div.col1 {
	margin-right: 2%;
}

section#story-2 div.col1 div {
	width: 450px;
	margin-bottom: 130px;
}


img.wp-image-60 {
	margin-left: -25px;
	margin-bottom: 0px;
	margin-top: -25px;
	padding: 0;
	width: 450px;
}
*/




/* store locator */


/* contact */





/* footer */

/* nav */

body.page nav {
	margin-left: 218px;
}


body.home nav {
	margin-left: 152px;
}

/*
body.page nav {
	margin-left: 218px;
}
*/

/*
body.page nav ul li {
	margin: 0 8px !important;
}
*/


/* products tweaks */

#baconlink {
	display: none;
}

#kestins-korner {
	display: none;
}


body.home #baconlink {
	display: block;
	position: absolute;
	right: 0;
	margin-top: 57px;
}

body.home #kestins-korner {
	display: block;
	position: absolute;
	right: 0;
	margin-top: 198px;
}

body.page-id-458 #container {
	background: none;
}

body.page-id-458 #content {
	text-align: center;
}

body.page-id-458 .header {
	min-height: 90px;
}

body.page-id-458 h2 {
	font-size: 55px;
}

body.page-id-28 #content a,
body.page-id-28 #content a:link,
body.page-id-28 #content a:visited {
	text-decoration: none;
}


div.jetpack_subscription_widget h2 {
	display: none;
}

div.jetpack_subscription_widget form>p:first-of-type {
	display: none;
}

div.jetpack_subscription_widget input#subscribe-field {
	width: auto !important;
	padding: 8px !important;
}

/* home */

a#nws {
	position: absolute;
	margin-left: 586px;
	padding-top: 16px;
}

.home-get-it-block .fill {
	min-height: 795px;
}

.entry-content.home-get-it-block {
	margin-top: -26px !important;
}

/* products */

#product-info p {
	height: auto;
	margin: 0;
	padding: 0;
	min-height: auto;
	max-height: auto;
}

#product-info a {
	color: #333;
	font-weight: bold;
}

/* footer */

#footer-content .address {
	padding-top: 16px;
}

/* distro list */

body.page-id-329 .table-wrap {
	clear: both;
}

/* contact us email address fix */

/*
div#container {
	position: relative;
	z-index: 9999;
}
*/

a#close {
	height: 500px;
	width: 300px;
	overflow: hidden;
	display: block;
	text-indent: -1000px;
	border: 0px dotted #ccc;
	position: absolute;
	margin-left: 500px;
	margin-top: -266px;
	cursor: pointer;
}

/* wp stats */

#wpstats {
	position: absolute;
	height: 0;
	width: 0;
	overflow: hidden;
}

/* hide ingredients */

.home-secrets-block figure a {
	/* background-image: url(/wp-content/themes/hemplers-2013/library/images/sandwich-good.jpg); */
	background-image: url(/wp-content/themes/hemplers-2013/library/images/family-vid.jpeg);
}

/* kestin's korner */

body.page-id-511 h1 {
	font-family: 'rye';
	font-size: 100px;
	text-align: center;
	margin-bottom: 30px;
}

body.page-id-511 header.header {
	min-height: 100px;
}

body.page-id-511 section div.fill {
	margin-bottom: 200px;
}

body.page-id-511 div#container {
	background-image: none;
}

body.page-id-511 p.intro {
	font-size: 16px;
}

body.page-id-511 div#posts div.left img {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

body.page-id-511 div#posts div.right img {
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}

body.page-id-511 .excerpt-dash {
	display: none;
}

body.page-id-511 div.listing-item {
	margin-top: 80px;
	
}

body.page-id-511 div.listing-item h3 {
	margin-bottom: 5px;
	font-size: 35px;
}

body.page-id-511 div.listing-item {
	font-size: 17px;
	clear: both;
}

body.page-id-511 div.listing-item span.blog-tape {
	display: block;
	position: absolute;

}

body.page-id-511 div#posts div.right span.blog-tape {
	background: url(/wp-content/themes/hemplers-2013/library/images/tape-right.png) no-repeat;
	margin-left: 766px;
	margin-top: -31px;
	height: 57px;
	width: 142px;
}

body.page-id-511 div#posts div.left span.blog-tape {
	background: url(/wp-content/themes/hemplers-2013/library/images/tape-left.png) no-repeat;
	margin-left: -29px;
	margin-top: -42px;
	height: 109px;
	width: 139px;
}

/*
body.page-id-511 div.frame-wrap {
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(51, 51, 51, .6);
	z-index: 9999;
	
}

body.page-id-511 div.frame-wrap.show {
	display: block;
}

body.page-id-511 div.frame {
	display: none;
	border: 3px solid #666;
	width: 700px;
	height: 500px;
	background: #fff;
	overflow: auto;
	padding: 30px;
	z-index: 99999;
	top: 15%;
	left: 15%;
	position: absolute;
	/* margin: auto; */
	/*border-radius: 10px;
}
*/

div.blog-post div.frame h3 {
	color: #666;
}

body.page-id-511 div.frame.show {
	display: block;
}

/* post */

iframe {
	width: 900px;
	height: 600px;
}

body.page-id-511 div#colorbox {
	width: 900px;
	height: 600px;
	overflow: auto;
	background: #fff;
}

div#colorbox div#cboxLoadedContent {
	max-height: 600px !important;
	overflow: auto;
}

div#colorbox div#inner-content  {
	background: #fff;
	padding: 40px;
	font-size: 18px;
}

div#colorbox .eightcol  {
	width: 100%;
}

div#colorbox p.byline  {
	display: none;
}

div#colorbox .hentry {
	background: none;
}

div#colorbox h1 {
	font-size: 40px;
	color: #333;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

div#colorbox section.entry-content {
	font-size: 18px;
}

div#cboxTitle {
	display: none;
}

.entry-content .alignleft, .entry-content img.alignleft,
.entry-content .alignright, .entry-content img.alignright {
	margin-bottom: 20px;
}


/* page */

body.page-id-511 section div.fill {
	background: url(/wp-content/themes/hemplers-2013/library/images/snake.png) center top repeat-y;
}

body.page-id-511 div#meteor-slideshow {
	height: 340px;
	width: 416px;
	background: url('../images/home-video-frame.png') no-repeat;
	z-index: 2;
	padding: 27px 33px;
	overflow: hidden;
	float: right;
	margin-left: 30px;
}

body.page-id-511 div#subscribe {
	font-size: 17px;
	color: #333;
	margin-top: 90px;
}

body.page-id-511 div#subscribe label {
	display: none;
}

article.post a,
article.post a:visited,
article.post a:link {
	color: #53380C;
}

h3#comments {
	color: #333;
}

div.comment-meta a {
	font-size: 12px;
	color: #666;
	text-decoration: none;
	font-style: italic;
}

div.comment-body {
	font-size: 14px;
	color: #666;
	margin: 
}

article.post cite a.url {
	text-decoration: none;
	font-weight: bold;
}

article.post a.comment-reply-link {
	background: #333;
	color: #fff;
	border-radius: 4px;
	padding: 5px;
	text-decoration: none;
	font-size: 12px;
	
	display: none;
}

article.post a.comment-reply-link:hover {
	background: #666;
}

li.comment {
	border: 1px dashed #333;
	padding: 15px;
	margin: 20px 0;
}

form#commentform {
	font-size: 12px;
	color: #333;
}

textarea#comment {
	width: 100%;
}

/* social for blog */

#ssba {
	margin-bottom: 40px;
}

a.ssba_tooptip{outline:none;text-decoration:none !important;color:inherit !important;}
a.ssba_tooptip strong{line-height:12px;}
a.ssba_tooptip:hover{text-decoration:none;color:inherit !important;} 
a.ssba_tooptip span{z-index:10;display:none;padding:10px;margin-top:-30px;margin-left:28px;line-height:16px;}
a.ssba_tooptip:hover span{font-family: arial;font-size: 12px;display:inline;position:absolute;color:#555e58;border:1px solid #e0dddd;background:#f5f5f5;}
.callout{z-index:20;position:absolute;top:30px;border:0;left:-12px;}
a.ssba_tooptip span{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;-o-border-radius:4px;}

#ssba img	{ 	
	width: 50px !important;
	padding: 6px;
	border:  0;
	box-shadow: none !important;
	display: inline;
	vertical-align: middle;
}

/* blog kestin korner */
article#post-458.clearfix.post-458.page.type-page.status-publish.hentry {
	background:none;
}

article#post-458.clearfix.post-458.page.type-page.status-publish.hentry section.entry-content:last-child {
	background:none;

}

body.page.page-id-458 div#container div#content div#inner-content {
	/*background: transparent url('../images/wood2.png') center top repeat-y;
	background-size: cover;*/
	background: none;

}

body.page.page-id-458 div#container header.header div#inner-header nav{
	display: none;
}

div#inner-header {
	float: none;
	margin: 0 0 0 15px;
}

div#inner-header h1#logo {
	margin-left: 45px;
}

div#inner-header #logo a {
    background: url('../images/header-hemplers-logo-small-1.png') left top no-repeat;
}

body.page.page-id-458 div#container header.header div#inner-header a#kestins-korner-1 img{
	position: absolute;
    margin-left: 775px;
    width: 325px;
    margin-top: 95px;
}

div.kk-logo {
	background: transparent url('../images/kestins-korner-1.png') center top no-repeat;
	padding-bottom: 100px;
	margin-top: 75px;
	background-size: 2% 30%;
}

div.arrow {
	background: transparent url('../images/arrow-left.png') no-repeat; 
	padding-bottom: 100px;
	margin-top: 75px;
	background-size: 2% 30%;

}

div.kestin-pic {
	background-color: transparent;
	background-image: url('../images/kestin-pic.png') ;
	background-position: right;
	background-repeat: no-repeat;
	padding-bottom: 360px;
    margin-top: 15px;
    background-size: inherit;
}

article#post-458 section.entry-content div.fill.clearfix div.descriptions_blog p {
	color: #C9C9C9;
	text-shadow: none;
}
article#post-458 section.entry-content div.fill.clearfix div.wrap {
	width: 100%;
}

.blogcontent {
	background: transparent url('../images/wood22.png') center top repeat-y;
	background-size: 100%;
}
/* Footer customize */
/*footer #footer-content {
    margin-top: 25px;
}*/

#footer-content .address {
        /* margin-right: 55px; */
    margin-top: 85px;
    /* clear: both; */
    position: absolute;
}

#footer-content .email, #footer-content .phone {
    border: none;
}

#footer-content .address p {
	text-align: center;
	position: absolute;
	color: #60574C;
}

#footer-content #footer-logo img {
	margin-left: -90px;
}

#footer-content #footer-logo, #footer-links {
	border-right: 2px dotted #93714e;
}

/* Custom social Icons Footer */
#footer-content #ssba {
	clear: right;
    width: 400px;
    /* padding-left: 415px; */
    position: absolute;
    margin-top: 60px;
    margin-left: 400px;
}

#footer-content #ssba a.ssba_tooptip{outline:none;text-decoration:none !important;color:inherit !important;}
#footer-content #ssba a.ssba_tooptip strong{line-height:12px;}
#footer-content #ssba a.ssba_tooptip:hover{text-decoration:none;color:inherit !important;} 
#footer-content #ssba a.ssba_tooptip span{z-index:10;display:none;padding:10px;margin-top:-30px;margin-left:28px;line-height:16px;}
#footer-content #ssba a.ssba_tooptip:hover span{font-family: arial;font-size: 12px;display:inline;position:absolute;color:#555e58;border:1px solid #e0dddd;background:#f5f5f5;}
#footer-content #ssba .callout{z-index:20;position:absolute;top:30px;border:0;left:-12px;}
#footer-content #ssba a.ssba_tooptip span{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;-o-border-radius:4px;}

#footer-content #ssba img	{ 	
	width: 50px !important;
	padding: 6px;
	border:  0;
	box-shadow: none !important;
	display: inline;
	vertical-align: middle;
}
/* End Custom social Icons Footer*/

/* End Footer Customize */

/* custom wp tiles */
div.wp-tiles-loaded .wp-tiles-tile-bg {
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
}

h4.wp-tiles-byline-title {
	font-size: 0.8em;
}

.wp-tiles-byline-wrapper {
	height: 75px;
	cursor: url('../images/cursor.png'),url('../images/cursor.png'),auto;
}

div.wp-tiles-tile {
	box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.28);
}

/* hide article */
.hide {
  display: none;
}

a.read-more-show {
	text-decoration: none;
	color: #4F82CE;
	text-shadow: none;
}

a.read-more-hide {
	text-decoration: none;
	color: #4F82CE;
	text-shadow: none;
}

/* css div custom */
.wrap_blog.clearfix {
    margin-top: -300px;
}

.descriptions_blog {
    margin-top: -110px;
    padding-left: 400px;
    padding-right: 400px;
}
/* end css div custom */

/* Custom CSS single.php */
body.single.single-post div#container div.content.blog-post div#inner-content div#main.eightcol {
	margin-top:45px;
	margin-bottom:45px;
}
/* End CUstom CSS single.php*/

/* Custom Nave Menu Blog */
div#blog_selector {
	font-family: 'Germania One', 'Times New Roman', serif;
	text-align: center;
}

div#blog_selector ul li a {
	text-decoration: none;
	width: 100%;
	color: #FFE1BA;
	text-transform: uppercase;
	padding: 15px;
}

div#blog_selector ul li a:hover, a:active{
	color:white;
}

div#blog_selector ul li {
	display: inline;
	border-right: 2px solid #FFE1BA;

}

div#blog_selector ul li.cat-item.cat-item-28 {

	border-right: none;

}

div#blog_selector ul
{
	list-style-type: none;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
}
/* End Custom Nav Menu Blog*/

/* Custom Home */
.header #tagline {
    /* display: list-item; */
    /*position: fixed;*/
    min-height: 335px;
    margin: 0 auto;
    z-index: 99;
    line-height: 89px;
    top: 135px;
    left: 485px;
    /* padding-left: 200px; */
}
#sausage-1,#sausage-2 {
	left:100%;
}
body.home .header #tag-arrow {
	display: none;
}

body.home .header #logo a {
	position: absolute;
}
/* End Custom Home*/